body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative;
}

#game-container {
    text-align: center;
    position: relative;
}

#click-count {
    font-size: 64px;
    margin-bottom: 10px;
    transition: color 0.1s;
}

#click-button {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
}

#click-image {
    width: 120%; /* Увеличено в 1.5 раза */
    height: 120%; /* Увеличено в 1.5 раза */
    position: absolute;
    z-index: 1;
}

.overlay-image {
    position: absolute;
    z-index: 2;
    display: none; /* initially hidden */
}

#menu {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}

#menu-icon {
    font-size: 24px;
}

#menu-options {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 200px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
}

.menu-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    background-color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.menu-button:hover {
    background-color: #555;
}

#output-button {
    background-color: #0f0;
}

#upgrades-button {
    background-color: #00f;
}

#save-button {
    background-color: #800080;
}

.small-button {
    background-color: #000;
    width: auto;
    padding: 5px;
}

/* Individual styles for each overlay image */
.image1 {
    width: 100px;
    height: 100px;
}

.image2 {
    width: 120px;
    height: 120px;
}

.image3 {
    width: 140px;
    height: 140px;
}

.image4 {
    width: 160px;
    height: 160px;
}

.image5 {
    width: 180px;
    height: 180px;
}

.image6 {
    width: 200px;
    height: 200px;
}

.image7 {
    width: 220px;
    height: 220px;
}

.image8 {
    width: 240px;
    height: 240px;
}
