body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative;
}

#game-container {
    text-align: center;
}

#click-count {
    font-size: 32px; /* Измените размер шрифта здесь */
    margin-bottom: 10px;
    transition: color 0.1s;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

#click-button {
    width: 300px; /* Измените размер кнопки здесь */
    height: 300px; /* Измените размер кнопки здесь */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
}

#click-button img {
    width: 80%; /* Измените размер изображения здесь */
    height: 80%; /* Измените размер изображения здесь */
}

#menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

#menu-icon {
    width: 120px; /* Измените размер значка меню здесь */
    height: 120px; /* Измените размер значка меню здесь */
    cursor: pointer;
}

#menu-options {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 40%; /* Меню занимает 40% экрана */
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
}

.menu-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    background-color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.menu-button:hover {
    background-color: #555;
}

#output-button {
    background-color: #0f0;
}

#upgrades-button {
    background-color: #00f;
}

#save-button {
    background-color: #800080; /* Фиолетовый цвет */
}

.small-button {
    background-color: #000;
    width: auto;
    padding: 5px;
}
